.article {
    padding: 1rem 0;
}

.meta {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-auto-rows: 12.5rem;
    grid-auto-flow: dense;
    gap: 14px;
}

.galleryItem {
    container: galleryItem / inline-size;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
}

.galleryItem img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    grid-area: 1 / 1 / -1 / -1;
}

.placeholderContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.loadingHint {
    font-size: 1.5rem;
    display: inline-block;
}

@media (width > 37.5em) {
    .galleryGrid .galleryItem:nth-child(1) {
        grid-area: span 2 / span 2;
    }

    .galleryGrid .galleryItem:nth-child(4n + 1) {
        grid-row: span 2;
    }

    .galleryGrid .galleryItem:nth-child(4n + 2) {
        grid-column: span 2;
    }
}

@media (max-width: 47.9988em) {
    .commentsTrigger {
        margin-top: 2rem;
    }

    .loadingHint {
        font-size: 1.25rem;
    }
}